  
    body{
       background-image: url("./images/background-images/rockyBeach.jpg");
       background-size: cover;
       font-family: 'Quicksand', sans-serif;
    } 
   
    nav{
        font-family: 'Quicksand', sans-serif;
        border-bottom: 0.25px solid white;
    }
    
    nav a{
           color: white;
       }
    
    nav a:hover{
          color: white;
          font-size: 20px;
    }
      
       article{
          /* background-color: #175873; */
          background-color:#7a8b8b;
          border: 1px solid white;
           color: white;
           opacity: 0.8;
           padding-top: 1%;
       }    
       
    
       article p{
          font-family: 'Nanum Myeongjo', serif; 
          font-size: 16px;
       }
    
       .form-control{
           background-color: white;
           font-size: 16px;
       }
    
        .btn{
           font-size: 18px;
           margin-top: 3%;
     }
    
     img{
           width: auto;
     }    
    
     .titleCursive{
         height: 2%;
         width: auto;
     }
         

     /*------------------------------ */
     .list-container{
         width: 100%;
         max-width: 500px;
         margin: 0 auto;
         opacity: none;
     }

     .list-container ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
     }

     .list-container ul li{
        display: flex;
        flex-direction: column-reverse;
        width: 200px;
        background: #546e7a;
        margin: 1rem auto 0;
        padding: 0;
     }

     .list-container ul li p{
        text-align: center;
     }
 
    .img-container{
        position: relative;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 200px;
        height: 200px;
    }

    .img-container img{
        width: 100%;
        object-fit: cover;
    }

    footer{
        font-family: 'Quicksand', sans-serif;
     }
    
     /*------------------------------ */
    
     
     @media only screen and (min-width: 600px){
         article{
             margin-left: 0;
             padding: 5%;
             max-height: 485px;
             overflow-x:scroll;
         }
     }
    
    
    
    
    