  
    body{
       background-image: url("./images/background-images/lighthouseContact.jpg");
       background-size: cover;
       font-family: 'Quicksand', sans-serif;
    } 
   
    nav{
        font-family: 'Quicksand', sans-serif;
        border-bottom: 0.25px solid white;
    }
    
    nav a{
           color: white;
       }
    
    nav a:hover{
          color: white;
          font-size: 20px;
    }
    
   
       article{
          
          background-color: #585858;
          color: white;
          border: 1px solid white;
           color: black;
           opacity: 0.7; 
           
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           padding: 15px;
          
       }    
       
    
       article p{
          font-family: 'Nanum Myeongjo', serif; 
          font-size: 16px;
       }

       form{
           padding-left: 5%;
           padding-top: 35px;
           color: white;
       }
    
       .form-control{
           background-color: white;
           font-size: 16px;
           width: 98%;
           height: 40px;
       }

      
    
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            background-color: #7371b5;
            color: white;
            width: 34%;
            margin-top: 30px;
            
        }
     
    
     img{
           width: auto;
     }    
    
     .titleCursive{
         height: 2%;
         width: auto;
     }
         
     
    
    
     
     @media only screen and (min-width: 600px){
         article{
             margin-left: 0;
             padding: 5%;
         }
     }
    
    
    
    
    