  
    body{
       background-image: url("./images/background-images/whiteLighthouse.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       font-family: 'Quicksand', sans-serif;
    } 
   
    nav{
        font-family: 'Quicksand', sans-serif;
        border-bottom: 0.25px solid white;
    }
    
    nav a{
           color: white;
       }
    
    nav a:hover{
          color: white;
          font-size: 20px;
    }
    
   
       article{
          
         /* background-color:#7a8b8b;
          color: white; */
          background-color: white;
          color: black;
          border: 1px solid white;
           color: black;
           opacity: 0.5; 
           
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           padding: 15px;
          
       }    


       
    
       article p{
          font-family: 'Nanum Myeongjo', serif; 
          font-size: 16px;
       }

       form{
           padding-left: 5%;
           padding-top: 35px;
           color: white;
       }
    
       .form-control{
           background-color: white;
           font-size: 16px;
           width: 98%;
           height: 35px;
       }

      
    
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
           
            background-color: #00688B;
            color: white;
            width: 34%;
            margin-top: 30px;
            border: none;
            
        }
     
    
     img{
           width: auto;
     }    
    
     .titleCursive{
         height: 2%;
         width: auto;
     }
         
     
    
    
     
     @media only screen and (min-width: 600px){
         article{
             margin-left: 0;
             padding-top: 1%;
             padding-left: 5%;
         }
     }
    
    
    
    
    